<div class="container">
<div id="root"></div>
<%= javascript_pack_tag 'form' %>
<!--
  <%= simple_form_for(@photograph) do |f| %>
    <%= f.input :title, label: 'Title (totally optional)', maxlength: 30 %>
    <%= f.input :photo, as: :file, data: {max_file_size: 5.megabytes } %>
    <%= f.button :submit, 'Upload Photo', class: 'btn-primary' %>
  <% end %>
  -->
</div>
